*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  line-height: 1.7;
}

.section-title {
  color: #222222;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: #222222;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.section-subtitle {
  color: #777777;
  font-size: 1rem;
  font-family: "Merriweather", serif;
  margin-bottom: 76px;
}

.splash {
  height: 100vh;
  max-height: 700px;
  position: relative;
  background-image: url("https://i.postimg.cc/dttHD2MW/Background-Image.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.logo {
  color: #FED136;
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  margin-top: 35px;
}

.menu-list ul {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  margin-top: 50px;
}

.menu-list ul li {
  display: inline-block;
  margin-right: 40px;
}

.menu-list ul li a {
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s all;
  font-weight: bold;
}

.menu-list ul li a:hover {
  color: #222222;
  text-decoration: none;
}

.splash-text {
  position: absolute;
  top: calc(50% + 45px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-subtitle {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  text-transform: capitalize;
}

.splash-title {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 21px;
  margin-bottom: 41px;
  text-transform: uppercase;
}

.btn {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  background: #FED136;
  border: 1px solid #707070;
  padding: 21px 49px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  border-radius: 25px;
  background: #f3dc89;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.services {
  padding: 115px 215px;
}

.services i {
  border: 3px solid #FED136;
  border-radius: 50%;
  color: #FED136;
  height: 40px;
  width: 40px;
  line-height: 34px;
}

.service-title {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin: 24px 0 9px 0;
  color: #222222;
}

.service-details {
  font-size: 0.8rem;
  font-family: "Roboto Slab", serif;
  color: #777777;
}

.portfolio {
  background: #F7F7F7;
  padding: 109px 215px;
}

.portfolio-inner {
  -ms-flex-pack: center;
      justify-content: center;
}

.portfolio-card {
  height: 400px;
  margin: 0 15px 50px 15px;
  position: relative;
  background: #fff;
  padding: 0;
}

.portfolio-card img {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-description {
  position: absolute;
  left: 50%;
  bottom: 50px;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-title {
  font-size: 1.1rem;
  white-space: nowrap;
  margin: 0;
}

.portfolio-subtitle {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
}

.footer-site {
  height: 120px;
  padding: 0 215px;
}

.footer-inner {
  height: 100%;
}

.social-media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.social-media ul {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.social-media ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: #222222;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  list-style-type: none;
  margin: 5px;
}

.social-media ul li i {
  font-size: 25px;
  color: #fff;
  line-height: 40px;
}

.social-media ul li:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.footer-copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
}

.footer-site p {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .splash-subtitle {
    font-size: 2rem;
    margin-top: 60px;
  }
  .splash-title {
    font-size: 3rem;
    margin-top: 40px;
  }
  .btn {
    font-size: 1rem;
    padding: 15px 43px;
  }
  .menu-list ul {
    padding: 0;
    margin-top: 15px;
  }
  .menu-list ul li {
    margin-right: 15px;
  }
  .services {
    padding: 60px;
  }
  p {
    margin-bottom: 3.5rem;
  }
  .portfolio {
    padding: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .splash-subtitle {
    font-size: 2rem;
    margin-top: 60px;
  }
  .splash-title {
    font-size: 4rem;
    margin-top: 40px;
  }
  .btn {
    font-size: 1rem;
    padding: 15px 43px;
  }
  .menu-list ul {
    padding: 0;
  }
  .menu-list ul li {
    margin-right: 15px;
  }
  .services {
    padding: 65px;
  }
  .portfolio {
    padding: 65px;
  }
  .footer-copyright {
    margin-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .footer-site {
    padding: 0 100px;
  }
  .portfolio {
    padding: 65px;
  }
}
/*# sourceMappingURL=style.css.map */