*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  line-height: 1.7;
  max-width: 1400px;
}

.section-title {
  color: #222222;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: #222222;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.section-subtitle {
  color: #777777;
  font-size: 1rem;
  font-family: "Merriweather", serif;
  margin-bottom: 76px;
}

.splash {
  height: 100vh;
  max-height: 700px;
  max-width: 1400px;
  position: relative;
  background-image: url("https://i.postimg.cc/dttHD2MW/Background-Image.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.logo {
  color: #FED136;
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  margin-top: 35px;
}

.menu-list ul {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  margin-top: 50px;
}

.menu-list ul li {
  display: inline-block;
  margin-right: 40px;
}

.menu-list ul li a {
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s all;
}

.menu-list ul li a:hover {
  border-radius: 25px;
  background: #222222;
  padding: 10px;
  text-decoration: none;
}

.splash-text {
  position: absolute;
  top: calc(50% + 45px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-subtitle {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  text-transform: capitalize;
}

.splash-title {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 21px;
  margin-bottom: 41px;
  text-transform: uppercase;
}

.btn {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  background: #FED136;
  border: 1px solid #707070;
  padding: 21px 49px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  border-radius: 25px;
  background: #f3dc89;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.services {
  padding: 115px 230px;
}

.services i {
  border: 3px solid #FED136;
  border-radius: 50%;
  padding: 14px;
  margin-bottom: 24px;
  color: #FED136;
  font-size: 28px;
}

.service-title {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 9px;
  color: #222222;
}

.service-details {
  font-size: 0.9rem;
  font-family: "Roboto Slab", serif;
  color: #777777;
}

.portfolio {
  background: #F7F7F7;
  padding: 109px 230px;
}

.portfolio-card {
  height: 25rem;
  margin-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.portfolio-card img {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 400px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-description {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background: #fff;
  position: relative;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-title {
  font-size: 1.1rem;
  white-space: nowrap;
  margin: 0;
}

.portfolio-subtitle {
  font-size: 0.9rem;
  margin: 0;
}

@media (max-width: 767px) {
  .splash-subtitle {
    font-size: 2rem;
    margin-top: 60px;
  }
  .splash-title {
    font-size: 3rem;
    margin-top: 40px;
  }
  .btn {
    font-size: 1rem;
    padding: 15px 43px;
  }
  .menu-list ul {
    padding: 0;
    margin-top: 15px;
  }
  .menu-list ul li {
    margin-right: 15px;
  }
  .services {
    padding: 60px;
  }
  p {
    margin-bottom: 3.5rem;
  }
  .portfolio {
    padding: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .splash-subtitle {
    font-size: 2rem;
    margin-top: 60px;
  }
  .splash-title {
    font-size: 4rem;
    margin-top: 40px;
  }
  .btn {
    font-size: 1rem;
    padding: 15px 43px;
  }
  .menu-list ul {
    padding: 0;
  }
  .menu-list ul li {
    margin-right: 15px;
  }
  .services {
    padding: 80px;
  }
  .portfolio {
    padding: 80px;
  }
}
/*# sourceMappingURL=style.css.map */